<div class="row">
  <div class="col-md-6">
    <h3>Create New Post</h3>

    <form class="form login-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post-body">Content:</label>
        <input class="form-input" type="text" id="post-body" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Post</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">

