{{#if loggedIn}}

<header class="display-flex justify-space-around align-start align-center p-2">
<h2>{{userName}}'s Dashboard</h2>
<button id="createPost" class="btn">Create Post</button>
</header>

{{#each userPosts}}
{{> post-details}}
{{/each}}

{{else}}
<a href="/login">You must login first to view your dashboard</a>
{{/if}}

<script src="/js/dashboard.js"></script>
