header {
  border-bottom: 1px solid #ccc;
}

a {
  text-decoration: none;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.hidden {
  display: none;
}

#post-body {
  height:10em;
  justify-content: start;
  align-content: start;
  text-align: start;
}

#loginWarn {
  font-size: 4em;
  color: red;
  justify-self:center;
}

#commenter {
  font-size: x-small;
}